<section class="about-us">
    <div class="container">
        <div class="page__wrapper">
            <h2 class="main-tittle">Коротко о нас:</h2>
            <div class="about-us__items">
                <div class="about-us__item flower">
                    <p>Экологически чистые материалы</p>
                </div>
                <div class="about-us__item yarn">
                    <p>Связано вручную с любовью и умилением</p>
                </div>
                <div class="about-us__item price">
                    <p>Скандинавский стиль по российской цене</p>
                </div>
                <div class="about-us__item rocket">
                    <p>Поддержка отечественного производителя</p>
                </div>
                <div class="about-us__item heart">
                    <p>Увеличивает лайки на фотографиях</p>
                </div>
                <div class="about-us__item present">
                    <p>Поставляется в подарочной упаковке</p>
                </div>
            </div>
        </div>
    </div>
</section>