<section class="catalog">
    <div class="container">
        <div class="catalog__item">
            <img class="catalig-img imgdesktop" src="img/rabbit.png" alt="">
            <img class="catalig-img imgmobile" src="img/rabbitm.png" alt="">
            <div class="catalog__item-wrap">
                <div class="catalog__item-discription">
                    <h4>Зайчик-попрыгайчик</h4>
                    <p class="small-tittle">Рост 30 см, вес 200 г</p>
                </div>
                <div class="catalog__item-price">
                    <p>1 200 руб</p>
                </div>
            </div>
        </div>
        <div class="catalog__item">
            <img class="catalig-img imgdesktop" src="img/basketl.png" alt="">
            <img class="catalig-img imgmobile" src="img/basketlm.png" alt="">
            <div class="catalog__item-wrap">
                <div class="catalog__item-discription">
                    <h4>Корзинка для белья</h4>
                    <p class="small-tittle">Диаметр 15 см, высота 10 см</p>
                </div>
                <div class="catalog__item-price">
                    <p>690 руб</p>
                </div>
            </div>
        </div>
        <div class="catalog__item">
            <img class="catalig-img imgdesktop" src="img/basketb.png" alt="">
            <img class="catalig-img imgmobile" src="img/basketbm.png" alt="">
            <div class="catalog__item-wrap">
                <div class="catalog__item-discription">
                    <h4>Большая корзинка для игрушек</h4>
                    <p class="small-tittle">Диаметр 30 см, высота 30 см</p>
                </div>
                <div class="catalog__item-price">
                    <p>1 500 руб</p>
                </div>
            </div>
        </div>
    </div>
</section>