<section class="contacts">
    <div class="container">
        <div class="contacts__wrap">
            <div class="catalog__tittle">
                <h2 class="main-tittle">Контакты</h2>
            </div>
            <div class="contacts__text">
                <div class="contacts__table">
                    <table class="firsttable basis-tittle">
                        <tr>
                            <td>e-mail:</td>
                            <td class="contacts__mail">info@mimimishkashop.ru</td>
                        </tr>
                    </table>
                    <table class="secondtable basis-tittle">
                        <tr>
                            <td>адрес:</td>
                            <td>г. Санкт-Петербург, ул. Большая Конюшенная, д. 19/8, офис 101</td>
                        </tr>
                    </table>
                </div>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6075121728047!2d30.322317837715236!3d59.93865467675988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTExODY!5e0!3m2!1sru!2sru!4v1585201415414!5m2!1sru!2sru" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div> 
            </div>
            <div class="contacts__btn">
                <a class="btn" href="#">Напишите нам</a>
            </div>
        </div>
    </div>
</section>