    <header>
        <div class="container">
            <div class="desktop-menu menu">
                <a href="#" class="catalog-link">Каталог товаров</a>
                <a href="#" class="knitting">Вязание на заказ</a>
                <a href="#" class="menu__logo"></a>
                <a href="#" class="search-link"></a>
                <a href="#" class="basket-link" >Корзина: пока пуста</a>
            </div>
            <div class="tablet-menu">
                <div class="menu">
                    <a href="#" class="menu__logo"></a>
                    <a href="#" class="search-link"></a>
                    <a href="#" class="basket-link" >Корзина: пока пуста</a>
                </div>
            </div>
            <nav class="mobile-menu">
                <a href="#" class="menu__logo"></a>
                <div class="mobile-menu__btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
        </div>
        <div class="mobile-menu__dropdown">
            <a class="mobile-menu__link" href="#">Каталог товаров</a>
            <a class="mobile-menu__link"  href="#">Вязание на заказ</a>
            <a class="mobile-menu__link mobile-search" href="#">Поиск по сайту</a>
            <a class="mobile-menu__link mobile-basket" href="#">Корзина: пока пуста</a>
        </div>
    </header>