<section class="mainproduct">
    <div class="container">
        <div class="mainproduct__tittle">
            <div class="section-tittle">
                <p>Товар недели</p>
            </div>
            <div>
                <h2 class="main-tittle">Вязаные корзинки</h2>
            </div>
        </div>
        <div class="mainproduct__about">
            <div class="mainproduct__about_wrap">
                <div class="mainproduct__about_text">
                    <div class="text-discription">
                        <p class="basis-tittle">Экологически чистая пряжа, ручная работа. Доступны в шести расцветках, и трех размерах.</p>
                    </div>
                    <div class="mainproduct__about-table">
                        <table class="pricetable basis-tittle">
                            <tr>
                                <td>Цвет:</td>
                                <td>"Тиффани"/серый</td>
                            </tr>
                            <tr>
                                <td>Диаметр:</td>
                                <td>25 см</td>
                            </tr>
                            <tr>
                                <td>Высота:</td>
                                <td>15 см</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="mainproduct__mobileimg">
                    <img src="img/mainproduct.png" alt="">
                </div>
            </div>
            <div class="mainproduct__about-price">
                <p>Цена: 990 руб.</p>
                <a class="btn" href="">Заказать</a>
            </div>
            <img class="mainproduct__img" src="img/mainproduct.png" alt="">
        </div>
    </div>
</section>