<section class="headline headline--logo">
    <div class="container">
        <div class="headline__menu">
            <div class="headline__menu-up">
                <a href="">Новые поступления</a>
                <a href="">Распродажа</a>
            </div>
            <a href="">Бесплатная доставка по России</a>
        </div>
        <h2 class="main-tittle headline--tittle">Милые штуки ручной <br>работы для дома</h2>
        <div class="headline__menu-down">
            <div class="headline__menu-subject">
                <div class="headline__menu--container">
                    <a href="">Предметы <br>интерьера</a>
                    <img src="img/lamp.png" alt="">
                </div>
            </div>
            <div class="headline__menu-toys">
                <div class="headline__menu--container">
                    <a href="">Детские <br>игрушки</a>
                    <img src="img/toy.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>