<section class="review">
    <div class="container">
        <div class="review__wrap">
            <div class="review__tittle">
                <h2 class="main-tittle">Отзывы</h2>
                <a class="btn desktop-btn" href="#">Написать</a>
            </div>
            <div class="review-discription">
                <p class="basis-tittle">Я молодая мама, но все равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке и мои фотографии сразу стали более стильнее, а также набирают больше лайков!</p>
            </div>
            <div class="review__slide">
                <div class="review__slide_adress">
                    <p>Анастасия Красильникова</p>
                    <p class="basis-tittle">@missssssiskras</p>
                </div>
                <div class="review__nav-arrow">
                    <img class="left" src="img/arrowleft.png" alt="">
                    <img class="right" src="img/arrowright.png" alt="">
                </div>
            </div>
            <a class="btn mobile-btn" href="#">Написать</a>
            <div class="review__img">
                <img src="img/review.png" alt="">
            </div>
        </div>
    </div>
</section>