<section class="video">
    <div class="container">
        <div class="video-wrap">
            <p class="video--tittle mobile-tittle">Процесс производства</p>
            <div class="videoblock">
                <iframe src="https://www.youtube.com/embed/DrKClMvitbU" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="video__discription">
                <h4 class="video--tittle">Процесс <br>производства</h4>
                <p class="small-tittle">По просьбам наших любимых фолловеров мы сняли для вас подробное видео о том, как появляются наши товары.</p>
                <a class="btn" href="">Сделать заказ</a>
            </div>
        </div>
    </div>
</section>